Source: kidentitymanagement
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 3.0~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.35.0~),
               libkf5codecs-dev (>= 5.35.0~),
               libkf5completion-dev (>= 5.35.0~),
               libkf5config-dev (>= 5.35.0~),
               libkf5coreaddons-dev (>= 5.35.0~),
               libkf5iconthemes-dev (>= 5.35.0~),
               libkf5kio-dev (>= 5.35.0~),
               libkf5pimtextedit-dev (>= 17.08.3~),
               libkf5textwidgets-dev (>= 5.35.0~),
               libkf5xmlgui-dev (>= 5.35.0~),
               pkg-kde-tools (>> 0.15.15),
               qtbase5-dev (>= 5.7.0~),
Standards-Version: 4.1.2
Homepage: https://projects.kde.org/projects/kde/pim/kidentitymanagement
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/kidentitymanagement.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/kidentitymanagement.git

Package: libkf5identitymanagement-dev
Section: libdevel
Architecture: any
Multi-Arch: foreign
Depends: libkf5coreaddons-dev (>= 5.35.0~),
         libkf5identitymanagement5 (= ${binary:Version}),
         libkf5pimtextedit-dev (>= 17.08.3~),
         ${misc:Depends},
Description: library for managing user identities - development files
 This library provides an API for managing user identities.
 .
 This package contains the development files.
Breaks: libkf5alarmcalendar-dev (<< 4:17.08),
        libkf5calendarsupport-dev (<< 4:17.08),
        libkf5incidenceeditor-dev (<< 17.08),
        libkf5messagecomposer-dev (<< 4:17.08),

Package: libkf5identitymanagement5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: accountwizard (<< 4:17.08),
        kalarm (<< 4:17.08),
        kdepim-runtime (<< 4:17.08),
        kmail (<< 4:17.08),
        kontact (<< 4:17.08),
        korganizer (<< 4:17.08),
        libkf5akonadicalendar5 (<< 4:17.08),
        libkf5alarmcalendar5 (<< 4:17.08),
        libkf5calendarsupport5 (<< 4:17.08),
        libkf5calendarutils5 (<< 4:17.08),
        libkf5incidenceeditor5 (<< 17.08),
        libkf5ksieveui5 (<< 4:17.08),
        libkf5messagecomposer5 (<< 4:17.08),
        libkf5messagecore5 (<< 4:17.08),
        libkf5templateparser5 (<< 4:17.08),
        ${kde-l10n:all},
Replaces: ${kde-l10n:all}
Description: library for managing user identities
 This library provides an API for managing user identities.
 .
 This package is part of the KDE Development Platform PIM libraries module.
